<div  style=" width: 100%; height: 90%;">


 
  

  <mat-toolbar style="background-color: whitesmoke;">

    <button mat-button color="accent">Home</button> 
    <span class="example-spacer"></span>
    <button mat-stroked-button color="primary">Contact Us</button> <br>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary">Login</button>
    <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon> -->
  </mat-toolbar>
  <br>
  <div  style=" background-color: black; width: 30%;">
  <mat-form-field >
    <mat-label>Both a label and a placeholder</mat-label>
    <input matInput placeholder="Simple placeholder" />
  </mat-form-field><br>
  </div>

  <mat-slide-toggle>Toggle me!</mat-slide-toggle><br>
  "^18.1.0",    latest updated version will installl on npm update <br>
  "18.1.0",    secific version will installl on npm update<br>
  ~18.1.0",    beta version will installl on npm update<br>
  <mat-card appearance="outlined">
    <mat-card-content>Simple card</mat-card-content>
  </mat-card>
</div>